/*----------------------------- */
/* classes for navigation panel */
nav {
  display: inline;
  background-color: SeaGreen ;
}

.current {
  color: white ;
  font-weight: bold;
}

.noncurrent {
  color: white ;
  font-weight: normal ;
}

/*------------ */
/* link colors */

/* mouse over link - this wirks with  jeykell */
a:hover {
  color: DarkTurquoise ;
}

/* selected link - does not work for me with jeykell */
a:active {
  color: red;
} 

.box {
     float: left;
     padding: 20px;
}

/* among others: removes underline from href */
a {
   color: RoyalBlue;
   text-decoration: none;
  font-weight: normal;
} 

/* ---------------------- */
/* class for rhizoTrak name in Text */
.rhizoTrakClass {
  color: darkgreen;
  font-weight: bold
}

/*-------------------------------------- */
/* classes for header (rtk logo and name */

.header-container {
  display: flex;
}

.header-item {
  font-size: 40px;
  text-align: center;
}


/*--------------------------------------------- */
/* general layout (width, margin) and bg volors */
html {
   background-color: white;
}

body {
   width: 800px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 20px;
   margin-left: 20px;
   margin-right: 20px;
   background-color: #f8f8f8;
}

/*------------------------------- */
/* center an image - only image? */
.center-image
{
    margin: 0 auto;
    display: block;
}
