# ##############################################################################
#
# Name: rhizoTrak_
#
# Manual and semi-automatic annotation of (minirhizotron) root images.
#
# Copyright 2018 - @YEAR@ by the rhizoTrak development team
#                                Institute of Computer Science
#                                Martin Luther University Halle-Wittenberg
#                                Halle (Saale), Germany
# Contact: rhizoTrak@informatik.uni-halle.de
#
# ##############################################################################


# ########################
# ### IMPORTANT NOTICE ###
# ########################
#
# Note that this project is substantially based on the TrakEM2 plugin for
# Fiji/ImageJ developed by A. Cardona and others.
#
# Both projects, TrakEM2 and rhizoTrak, are released under GPLv3.
#
# For more information about the TrakEM2 project, visit its website(s):
# 
#   https://imagej.net/TrakEM2
#   https://github.com/trakem2/TrakEM2/wiki
#
# ########################


Plugins>rhizoTrak>, "Open Project", de.unihalle.informatik.rhizoTrak.Open_Project
Plugins>rhizoTrak>, "New Project (default rootstack)", de.unihalle.informatik.rhizoTrak.New_Project("default")
Plugins>rhizoTrak>, "New Project (from template)", de.unihalle.informatik.rhizoTrak.New_Project
Plugins>rhizoTrak>, "New Project (blank)", de.unihalle.informatik.rhizoTrak.New_Project("blank")
