<html>
    <head>
        <meta charset="utf-8">
        <title>rhizoTrak - Home</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/images/rhizoTrak_logo.ico">
        <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    </head>
    <body>

<div class="header-container">
  <div class="grid-item">
	<a href="{{ site.baseurl }}/index.html">
	   <img src="{{site.baseurl}}/assets/images/rhizoTrak_logo-70.png" 
		alt="rhizoTrak logrhizoTrak logo">
	</a>
  </div>
  <div class="header-item">
	&nbsp;&nbsp;
	<a class="rhizoTrakClass" href="{{ site.baseurl }}/index.html"> rhizoTrak</a>
  </div>
</div>

<br>

