# Name: TrakEM2_

# Morphological data mining and 3D modeling
# Institute of Neuroinformatics, University of Zurich/ ETH, Zurich, Switzerland

# Author: Albert Cardona and Rodney Douglas
# Version: 2 0.5n
# Date: 2008/03/07
# Requires: ImageJ 1.38v

Plugins>rhizoTrak, "rhizoTrak (blank)", de.unihalle.informatik.rhizoTrak.New_Project("blank")
Plugins>rhizoTrak, "rhizoTrak (from template)", de.unihalle.informatik.rhizoTrak.New_Project

# Lens distortion correction using SIFT

Plugins>Transform, "Distortion Correction", lenscorrection.Distortion_Correction
